src/main/mule/impl-process-sonic-payroll-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:isb-workday-payroll-system-api="http://www.mulesoft.org/schema/mule/isb-workday-payroll-system-api" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/isb-workday-payroll-system-api http://www.mulesoft.org/schema/mule/isb-workday-payroll-system-api/current/mule-isb-workday-payroll-system-api.xsd">
	<flow name="impl-process-sonic-payroll-flows" doc:id="bae2d900-47bd-4b27-a027-11f4cc55d979" maxConcurrency="1">
		<flow-ref doc:name="Start Log" doc:id="7a8983c6-6ca0-40c1-9033-441dbfd4429c" name="sf-start-log"/>
		<until-successful maxRetries="${util.retries.count}" doc:name="Until Successful" doc:id="c09cc183-4d20-49ab-9b95-2241671668cc" millisBetweenRetries="${util.retries.delay}">
			<http:request method="GET" doc:name="GET Payroll Information from Sonic" doc:id="e1fe7b5c-3f41-4898-8587-102b8388057c" config-ref="HTTP_Payroll_POS_SYSTEM_Request_Configuration" responseTimeout="${util.timeout.intervalInMS}" outputMimeType="application/json" path="${secure::source.pos.https.path}">
				<http:query-params ><![CDATA[#[output application/java
---
{
	posSystem : vars.processType
}]]]></http:query-params>
		</http:request>
		</until-successful>
		<ee:transform doc:name="Transform Message" doc:id="ca44d552-eb58-4620-9e26-049d7eaeec01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

fun isNotEmpty (value) = (
	(not (isEmpty (value)))
)
---
payload map ((item, index) -> {
	"batchId": trim(item.batchId),
    "payrollBatchIdentifier": trim(item.payrollBatchIdentifier),
    "payrollInputIdentifier": trim(item.payrollInputIdentifier),
    "startDate": trim(item.startDate),
    "endDate": trim(item.endDate),
    "teamMemberIdentifier": trim(item.teamMemberIdentifier),
    "positionCode": trim(item.positionCode) default "",
    "earningCode": trim(item.earningCode) default "",
    "hours": trim(item.hours as String) default "",
    "amount": trim(item.amount as String) default "",
    "comments": ""
}) filter (
			($.hours !="" and $.hours !=null)
			or
			($.amount !="" and $.amount !=null)
		)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="POST Payroll Data to Workday" doc:id="f430e772-10ba-409e-8021-e857e7812ee6" config-ref="HTTP_Payroll_Workday_POST_Request_Configuration" path="${secure::target.workday.https.path}" outputMimeType="application/json" responseTimeout="${util.timeout.intervalInMS}">
		</http:request>
		<flow-ref doc:name="End Log" doc:id="7d5b2610-f386-4660-96b6-8fcf8baab0a7" name="sf-end-log"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fc5e35a9-fe00-47bd-bb64-67fddcdd3c56" >
				<ee:transform doc:name="Transform Message" doc:id="228906bd-cf20-40ea-af9c-1a8c5f774c5b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	code: error.errorType,
	message: error.description,
	transactionId: correlationId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="Error Log" doc:id="f41e72ae-0b8d-4207-adb1-dbb6f46089a5" name="sf-error-log"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
